<div class="well sidebar">
  <ul class="nav nav-list">
  <!-- 	  <li class="nav-header">Music</li> -->
	<li><a href="#home"> <i class="icon-male"></i> Socios</a></li>
	<li><a href="#library"><i class="icon-user"></i> Usuarios</a></li>
	<li><a href="#discover"><i class="icon-list"></i> Listados</a></li>
	<li><a href="#share"><i class="icon-pencil"></i> Actualización</a></li>
  <!-- 	  <li class="nav-header no-margin">Explore</li> -->
	<li><a href="#artists"> <i class="icon-dollar"></i> Cobranzas</a></li>
	<li><a href="#llatest"><i class="icon-home"></i> Recorridos</a></li>
	<li><a href="#top"><i class="icon-tablet"></i> Memocolectores</a></li>
	<li><a href="#stream"><i class="icon-file"></i> Intercambio de datos</a></li>
	<li><a href="#stream"><i class="icon-cogs"></i> Procesos generales</a></li>
  </ul>
</div>