<!--
sourceCache: needed so 'load_app_resources' runs only once per app/page, or else, breaks things like DNS paginated table checksbox
-->
<!DOCTYPE html>
<html lang="en">
  <head>
  {{> page/head}}
  </head>

	{{#if body_class}}
  <body id="main-body" class="{{{body_class}}}">
	{{else}}
	<body id="main-body">
	{{/if}}
		
		<div class="container">

				{{> page/header}}
				
				{{> page/nav_bar}}
				
				{{> page/breadcrumb}}
				
					{{#each apps}}
						{{#if this.role}}
						
							<div data-bind="page:
							{
							id: '{{this.id}}',
							role: '{{this.role}}',
							beforeHide: root_page.beforeHide.bind(root_page),
							afterShow: root_page.afterShow.bind(root_page)
							}
							">
								{{#if this.content.available}}
								{{#unless this.subapps}}
								<div id="{{this.id}}" class="" data-bind="with: {{this.id}}">
									{{{../body}}}
								</div>
								{{/unless}}
								{{/if}}
								
								{{#each this.subapps}}
								{{#if this.role}}
								<div data-bind="page:
								{
								id: '{{this.subapp_id}}',
								role: '{{this.role}}',
								beforeHide: root_page.beforeHide.bind(root_page),
								afterShow: root_page.afterShow.bind(root_page)
								}
								">
									
									{{#if this.content.available}}
									<div id="{{this.subapp_id}}" class="" data-bind="with: {{this.with}}">
										{{{../../body}}}
									</div>
									{{/if}}
									
								</div>
								{{else}}
								<div data-bind="page:
								{
								id: '{{this.subapp_id}}',
								
								{{#if this.content.available}}
								
									deep: true,
									sourceLoaded: root_page.load_app_resources.bind(root_page),
									sourceOnShow: '{{this.href}} #{{this.subapp_id}}',,
									sourceCache: true,
								
								{{/if}}
								
									beforeHide: root_page.beforeHide.bind(root_page),
									afterShow: root_page.afterShow.bind(root_page)
								
								}
								">
								</div>
								{{/if}}
								{{/each}}
							
							</div>
							
							
								
						
						{{else}}
							
							{{#unless this.hidden}}
								<div data-bind="page:
								{
								id: '{{this.id}}',
								
								{{#if this.content.available}}
								{{#unless this.subapps}}
									sourceLoaded: root_page.load_app_resources.bind(root_page),
									sourceOnShow: '{{this.href}} #{{this.id}}',
									sourceCache: true,
								{{/unless}}	
								{{/if}}
									beforeHide: root_page.beforeHide.bind(root_page),
									afterShow: root_page.afterShow.bind(root_page)
								}
								">
									{{#if this.subapps}}
										{{#each this.subapps}}
										<div data-bind="page:
										{
										id: '{{this.subapp_id}}',
										
										{{#if this.content.available}}
										
											deep: true,
											sourceLoaded: root_page.load_app_resources.bind(root_page),
											sourceOnShow: '{{this.href}} #{{this.subapp_id}}',
											sourceCache: true,
										{{/if}}
										
											beforeHide: root_page.beforeHide.bind(root_page),
											afterShow: root_page.afterShow.bind(root_page)
										
										}
										">
										</div>
										{{/each}}
									{{/if}}
								</div>
							{{/unless}}
							
						{{/if}}
					{{/each}}

				
			
				{{> page/footer}}
				

		</div>
	
	<script>
	{{#each body_script}}
		{{{this}}}
	{{/each}}
	
	</script>
	
	{{#each body_scripts}}
	<script src="{{{this}}}"></script>
	{{/each}}
	
	{{#each body_css}}
  <link href="{{{this}}}" rel="stylesheet">
	{{/each}}

	
	<style>
	{{{body_style}}}
	</style>
	
	
  </body>
</html>
